<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <%- include("Link.ejs") %>

</head>
<body>
    <div class="container p-5 align-center mt-5">
        <div class="col-5 mx-auto mt-5">

            <form action="/updatepass" method="post">
                     
                <h1 class="h3 mb-3 fw-normal text-center text-dark fs-2">Change Password</h1>
                <input type="hidden" value="<%- id %>" name="id">

                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingInput"  name="newpass">
                  <label for="floatingInput">New Password</label>
                </div>

                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" name="confirmpass">
                  <label for="floatingPassword">Confirm Password</label>
                </div>
                <button class="btn btn-success w-100 py-2 mt-3" type="submit">Update</button>

                </form>
                </div>
                </div>
                 
</body>
</html>